* {
    box-sizing: border-box;
}


body {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

/* TEXT ANIMATION */
.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 150px;
    margin: 20px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #4f2a77;
    margin-top: 0;
    margin-bottom: 50px;
}

/* CARD ANIMATION */
.card {
    width: 290px;
    height: 354px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px 30px;
    position: relative;
    margin: auto;
}

.card h3 {
    z-index: 1;
    color: white;
    font-size: 1.5em;
}

.card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
}


/* BUTTON PLAY */
.button-play {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11em;
    height: 4em;
    outline: none;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #ddebf0;
    cursor: pointer;
}

.container-2 {
    margin-top: 50px;
}

#clip {
    --color: #2761c3;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 5px double var(--color);
    box-shadow: inset 0px 0px 15px #195480;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
    position: absolute;
    transition: 0.2s;
    background-color: #2761c3;
    top: 35%;
    width: 11%;
    height: 30%;
}

#leftArrow {
    left: -13.5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
    -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
    left: 102%;
}

a:hover #rightArrow {
    background-color: #27c39f;
    left: -20%;
    animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

a:hover #leftArrow {
    background-color: #27c39f;
    left: 110%;
    animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: #2761c3;
    box-shadow: inset 1px 1px 8px #2781c3;
    transform: scale(1) rotate(45deg);
    transition: 0.2s;
}

#rightTop {
    top: -1.98em;
    left: 91%;
}

#leftTop {
    top: -1.96em;
    left: -3.0em;
}

#leftBottom {
    top: 2.10em;
    left: -2.15em;
}

#rightBottom {
    top: 45%;
    left: 88%;
}

a:hover #leftTop {
    animation: 0.1s ease-in-out 0.05s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
}

a:hover #rightTop {
    animation: 0.1s ease-in-out 0.15s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
}

a:hover #rightBottom {
    animation: 0.1s ease-in-out 0.25s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
}

a:hover #leftBottom {
    animation: 0.1s ease-in-out 0.35s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
}

a:hover .corner {
    transform: scale(1.25) rotate(45deg);
}

a:hover #clip {
    animation: 0.2s ease-in-out 0.55s both greenLight8;
    --color: #27c39f;
}

@keyframes changeColor8 {
    from {
        background-color: #2781c3;
    }

    to {
        background-color: #27c39f;
    }
}

@keyframes lightEffect8 {
    from {
        box-shadow: 1px 1px 5px #27c39f;
    }

    to {
        box-shadow: 0 0 2px #27c39f;
    }
}

@keyframes greenLight8 {
    from {}

    to {
        box-shadow: inset 0px 0px 32px #27c39f;
    }
}

@keyframes leftArrow8 {
    from {
        transform: translate(0px);
    }

    to {
        transform: translateX(10px);
    }
}

@keyframes rightArrow8 {
    from {
        transform: translate(0px);
    }

    to {
        transform: translateX(-10px);
    }
}

/* Responsive */

@media (max-width: 640px) {
    .animate-charcter {
        font-size: 80px;
    }
}

/* FORM */
.bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
}

.content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: rgb(0, 0, 0);
    padding-top: 10px;
}

.modal-body {
    padding: 15px 8%;
    margin: 15px auto;
    min-height: 30vh;
    background: rgb(223, 225, 235);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.text-control {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.text-control:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.text-control:active {
    transform: scale(0.95);
}

.text-control:focus {
    border: 2px solid grey;
}

label {
    font-family: var(--font-default);
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
}

input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
    margin-bottom: 20px;
    font-size: 1em;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}

.close:before,
.close:after {
    position: absolute;
    margin: 10px;
    left: 5px;
    top: 20px;
    content: " ";
    height: 23px;
    width: 3px;
    background-color: rgb(188, 0, 245);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.btn-submit {
    background: #8301fc;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
}

/* Modal form */
.button {
    margin-top: 3em;
    padding: 10px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
}

.button:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
        0 15px 0 -4px #39a2db,
        0 16px 10px -3px #39a2db;
}

.button:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
        0 8px 0 -4px #39a2db,
        0 12px 10px -3px #39a2db;
}

.btn-geek {
    position: absolute;
    left: 43%;
    top: 150px;
}

.formData {
    margin-top: 30px;

}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
    font-size: 1em;
    padding: 15px;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
    font-size: 2em;
}


input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
}

/* Validation */
.validation {
    display: none;
}

.validation p {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 80px;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.6%;
    text-align: center;
    color: #000000;
}

.my-score {
    color: #a251fa;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.score-container {
    width: 450px;
    height: 850px;
    border-radius: 20px;
    padding: 20px 30px 20px 10px;
    color: rgb(255, 255, 255);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    background: rgb(19, 19, 19);
    border-radius: 17px;
    position: absolute;
    left: 20px;
    top: 20px;
}

#score-board {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

button {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

button:active,
button:hover {
    outline: 0;
}

#close-btn {
    margin-top: 30px;
    margin-left: 20px;
}

button span {
    background-color: rgb(5, 6, 45);
    color: white;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

button:hover span {
    background: none;
}

button:active {
    transform: scale(0.9);
}

.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 20x;
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    background-color: #8a2be2;
}

.btn:active {
    transform: scale(0.98);
}

.score-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    color: white;
    min-height: 100vh;
    width: 500px;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-800px);
    transition: transform 1s ease-in-out;
    z-index: 50;
}

.score.show {
    transform: translateX(0);
}